doctype html            
html
  head
    title Welcome to Dance Academy
    block scripts
    block style
      
  body
    nav#navbar
        ul
            div#logo
                img(src="../static/image/kisspng-belly-dance-silhouette-tribal-fusion-5afcfd4b318a00.1602071415265293552029.png")
                | #D3
            li #[a(href="/home") Home] 
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/class-info") Class Info]
            li #[a(href="/contact") Contact Us]
     
               
    block content
    block foot
      #footer
        p COPY RIGHT DANCEACADEMY.COM | ALL RIGHT RESERVED@HIMANSHU GARG              

      